/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  margin: 0;
  font-family: $lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  color: #444444;
  min-width: 320px;
}
