.additional-products {
  padding: 19px 0 0;

  @media (min-width: $tablet) {
    margin: 0;
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}

.additional-products__title {
  margin-bottom: 29px;

  @media (min-width: $tablet) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 43px;
  }
}

.additional-products__container {
  @media (min-width: $tablet) {
    margin: 0 30px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    width: 1220px;
    margin: 0 auto;
    justify-content: space-between;
  }
}

.additional-products__list {
  width: calc(100% - 40px);
  margin: 0 auto 33px;
  list-style: none;
  padding: 0;
  border-top: 1px #cdcdcd solid;

  @media (min-width: $tablet) {
    margin: 0 auto 69px;
    width: 100%;
  }

  @media (min-width: $desktop) {
    width: unset;
    min-width: 892px;
    margin: 0;
  }
}
