.card {
  padding: 14px 20px 23px;
  display: grid;
  grid-template-columns: 140px 1fr;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  gap: 17px 0;

  @media (min-width: $tablet) {
    position: relative;
    padding: 0 0 40px;
    display: block;
    margin: 0 auto;
    border-bottom: none;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 129px;
      background-color: #ffffff;
      z-index: 10;
    }
  }
}

.card__link {
  color: #222222;
  text-decoration: none;
}

.card__image {
  padding: 6px 0 0;
  display: block;

  @media (min-width: $tablet) {
    margin: 0 auto;
    padding: 59px 0 19px;
    position: relative;
    z-index: 20;
  }

  @media (min-width: $desktop) {
    padding: 59px 0 10px;
  }
}

.card__content {
  padding-top: 4px;
}

.card__title {
  margin: 0 0 14px;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 76px;

  @media (min-width: $tablet) {
    margin: 0 auto 18px;
    width: 135px;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }

  @media (min-width: $desktop) {
    margin: 0 auto 24px;
  }
}

.card__list {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: $lato;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 32px;
  }
}

.card__item {

  display: grid;
  grid-template-columns: 70px 1fr;

  @media (min-width: $tablet) {
    grid-template-columns: 125px 1fr;
    width: 250px;
    margin: 0 auto;
    border-bottom: 1px #cdcdcd solid;
    margin-bottom: 7px;
    padding-bottom: 4px;
  }

  @media (min-width: $desktop) {
    width: 169px;
    grid-template-columns: 75px 1fr;
    margin-bottom: 6px;
    padding-bottom: 6px;
  }
}

.card__value {
  text-align: right;
}

.card__button {
  width: 100%;
  margin: 0 auto;
  grid-column: 1 / -1;
  border: none;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  vertical-align: middle;
  text-transform: uppercase;
  padding: 11px 0 10px;

  @media (min-width: $tablet) {
    width: 250px;
    height: 40px;
    display: block;
  }

  @media (min-width: $desktop) {
    width: 169px;
  }
}

.card__button--add-products {
  @media (min-width: $tablet) {
    width: 632px;
  }

  @media (min-width: $desktop) {
    width: 244px;
    margin: 0;
  }
}
