.contacts__header {
  margin: 0;
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
}

.contacts__address {
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
}

.contacts__street {
  margin: 0;
}

.contacts__city {
  margin: 0;
}
