.costs {
  margin: 0;
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  display: flex;
  flex-wrap: wrap;
  padding: 0 46px;
  gap: 5px;

  @media (min-width: $tablet) {
    font-size: 20px;
    padding: 10px 0 33px;
    width: 174px;
    text-align: right;
    display: block;
  }

  @media (min-width: $desktop) {
    text-align: right;
    width: unset;
    display: flex;
    padding: 0;
  }
}

.costs__definition {
  margin: 0;

  @media (min-width: $tablet) {
    margin: 0 0 10px;
  }

  @media (min-width: $desktop) {
    padding: 0 66px 0 3px;
  }
}

.costs__parameter {
  margin: 0;

  @media (min-width: $tablet) {
    width: 174px;
  }

  @media (min-width: $desktop) {
    width: unset;
  }
}
