.gift {
  margin: 0 20px;
  display: block;
  min-height: 290px;
  background-color: #808080;
  text-decoration: none;
  color: #ffffff;
  box-sizing: border-box;
  padding: 60px 0 30px;
  background-image:
    image-set(url("../../images/gift/gift-background@1x.webp") 1x type("image/webp"),
    url("../../images/gift/gift-background@1x.jpg") 1x type("image/jpeg"),
    url("../../images/gift/gift-background@2x.webp") 2x type("image/webp"),
    url("../../images/gift/gift-background@2x.jpg") 2x type("image/jpeg"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative;
  transition: transform 0.3s ease;

  &:hover {
    opacity: 0.6;
  }

  &:focus {
    outline: none;
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }


  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: #68b738;
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }

  @media (min-width: $tablet) {
    min-height: 200px;
    background-image:
      image-set(url("../../images/gift/gift-background-t@1x.webp") 1x type("image/webp"),
      url("../../images/gift/gift-background-t@1x.jpg") 1x type("image/jpeg"),
      url("../../images/gift/gift-background-t@2x.webp") 2x type("image/webp"),
      url("../../images/gift/gift-background-t@2x.jpg") 2x type("image/jpeg"));
    margin: 0;
    padding: 62px 0 30px;
  }

  @media (min-width: $desktop) {
    width: 245px;
    background-image:
      image-set(url("../../images/gift/gift-background-d@1x.webp") 1x type("image/webp"),
      url("../../images/gift/gift-background-d@1x.jpg") 1x type("image/jpeg"),
      url("../../images/gift/gift-background-d@2x.webp") 2x type("image/webp"),
      url("../../images/gift/gift-background-d@2x.jpg") 2x type("image/jpeg"));
    margin-bottom: 0;
    min-height: 288px;
    padding: 63px 0 21px;
  }
}

.gift__text {
  position: relative;
  z-index: 30;
  padding: 0;
  margin: 0 auto;
  font-family: $lato;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  width: 161px;
  display: block;
  background: url("../../icons/stack.svg#icon-gift") center top no-repeat;
  background-size: 78px 80px;
  padding-top: 125px;

  @media (min-width: $tablet) {
    padding: 10px 100px 0 401px;
    min-height: 83px;
    text-align: left;
    background-position: left 56px top -4px;
  }

  @media (min-width: $desktop) {
    background-position: left 41px top -4px;
    padding: 122px 0 0;
    text-align: center;
  }
}
