.hero {
  font-family: $oswald;
  text-decoration: none;
  color: $white;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    margin: 0 auto;
    position: relative;
    bottom: 0;
    left: 0;
    width: 709px;
    box-sizing: border-box;
    padding: 52px 91px 529px;

    &::before {
      content: "";
      width: 709px;
      height: 609px;
      position: absolute;
      background-image:
        image-set(url("../../images/hero/index-can-t@1x.webp") 1x type("image/webp"),
        url("../../images/hero/index-can-t@1x.jpg") 1x type("image/jpeg"),
        url("../../images/hero/index-can-t@2x.webp") 2x type("image/webp"),
        url("../../images/hero/index-can-t@2x.jpg") 2x type("image/jpeg"));
      background-repeat: no-repeat;
      bottom: 0;
      left: 0;
    }
  }

  @media (min-width: $desktop) {
    margin: 0 0 82px;
    left: 0;
    width: 100%;
    padding: 0 0 0 16px;

    &::before {
      width: 50%;
      height: calc(100% + 115px);
      background: $basic-theme;
      opacity: 0.85;
      position: absolute;
      top: -115px;
      left: unset;
      right: 0;
      z-index: 10;
      bottom: unset;
    }

    &::after {
      content: "";
      position: absolute;
      top: -115px;
      right: 0;
      width: 50%;
      height: calc(100% + 115px);
      background-image:
        image-set(url("../../images/hero/index-background-d@1x.webp") 1x type("image/webp"),
        url("../../images/hero/index-background-d@2x.webp") 2x type("image/webp"),
        url("../../images/hero/index-background-d@1x.jpg") 1x type("image/jpeg"),
        url("../../images/hero/index-background-d@2x.jpg") 2x type("image/jpeg"));
      background-color: #4b4a4f;
      background-repeat: no-repeat;
      background-size: auto 100%;
    }
  }
}

.hero__container {
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 110px 600px 95px 70px;
    position: relative;
    // background-color: red;
    z-index: 10;
    min-height: 579px;

    &::before {
      content: "";
      position: absolute;
      width: 552px;
      height: 499px;
      background-image:
        image-set(url("../../images/hero/index-can-d@1x.webp") 1x type("image/webp"),
        url("../../images/hero/index-can-d@1x.png") 1x type("image/png"),
        url("../../images/hero/index-can-d@2x.webp") 2x type("image/webp"),
        url("../../images/hero/index-can-d@2x.png") 2x type("image/png"));
      background-position: 0 0;
      top: 28px;
      left: 50%;
      transform: translateX(-171px);
      z-index: 10;
    }
  }
}

.hero__block {
  padding-bottom: 134px;
  position: relative;
  margin-bottom: 3px;

  &::before {
    content: "";
    width: 280px;
    height: 270px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -140px;
    background-image:
      image-set(url("../../images/hero/index-can-mobile@1x.webp") 1x type("image/webp"),
      url("../../images/hero/index-can-mobile@1x.png") 1x type("image/png"),
      url("../../images/hero/index-can-mobile@2x.webp") 2x type("image/webp"),
      url("../../images/hero/index-can-mobile@2x.png") 2x type("image/png"));
    background-repeat: no-repeat;
    background-position: 0 0;
    z-index: 30;
  }

  @media (min-width: $tablet) {
    margin: 0;
    padding: 0;

    &::before {
      content: "";
      display: none;
    }
  }

  @media (min-width: $desktop) {
    margin: 0;
    padding: 0;

    &::before {
      content: "";
      display: none;
    }
  }
}

.hero__wrapper {
  background-color: #4b4a4f;
  padding: 26px 0 165px;
  background-image:
    image-set(url("../../images/hero/index-background@1x.webp") 1x type("image/webp"),
    url("../../images/hero/index-background@1x.png") 1x type("image/png"),
    url("../../images/hero/index-background@2x.webp") 2x type("image/webp"),
    url("../../images/hero/index-background@2x.png") 2x type("image/png"));
  background-position: center top;
  background-repeat: no-repeat;
  background-size: auto 100%;
  position: relative;

  & * {
    position: relative;
    z-index: 20;
  }

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    background-color: $basic-theme;
    opacity: 0.85;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
  }

  @media (min-width: $tablet) {
    background: none;
    padding: 0;

    &::before {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    padding: 0;
  }
}


.hero__title {
  font-family: $oswald;
  text-align: center;
  font-weight: 400;
  width: 270px;
  margin: 0 auto 25px;
  font-size: 36px;
  line-height: 36px;

  @media (min-width: $tablet) {
    color: #000000;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    width: auto;
    margin: 0 0 41px;
  }
}

.hero__subtitle {
  margin: 0;
  font-family: $oswald;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 20px;
    margin: 0 0 27px;
  }
}
