.invitation {
  background-color: #f2f2f2;
  padding: 26px 19px 28px;
  display: flex;
  justify-content: space-between;

  &--index {
    background-color: #ffffff;
  }

  @media (min-width: $tablet) {
    padding: 60px 70px 58px;
  }

  @media (min-width: $desktop) {
    width: 565px;
    background-color: #ffffff;
    box-sizing: border-box;
    padding: 57px 65px 59px 80px;
    position: relative;
    left: calc(50% - 610px);
    z-index: 50;
  }
}

.invitation__header {
  font-family: $oswald;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  width: 140px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
    width: 170px;
  }

  @media (min-width: $desktop) {
    padding-top: 5px;
  }
}

.invitation__address {
  font-family: $lato;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;

  @media (min-width: $tablet) {
    font-size: 16px;
    text-align: right;
  }
}
