.map {
  margin: 0;
  font-family: $oswald;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.map__wrapper {
  @media (min-width: $desktop) {
    position: relative;
    padding: 93px 0 109px;
  }
}

.map__container {
  position: relative;
  width: 100%;
  height: 362px;
  overflow: hidden;

  @media (min-width: $tablet) {
    height: 405px;
  }

  @media (min-width: $desktop) {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
}

.map__image {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 20;
}

.map__iframe {
  width: 100%;
  height: 100%;
  border: 0;
  display: block;
}


.map__no-script {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background-image:
    image-set(
      url("../../images/location/location@1x.webp") 1x type("image/webp"),
      url("../../images/location/location@2x.webp") 2x type("image/webp"),
      url("../../images/location/location@1x.jpg") 1x type("image/jpeg"),
      url("../../images/location/location@2x.jpg") 2x type("image/jpeg")
    );
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #494747;


  @media (min-width: $tablet) {
    background-image:
      image-set(
        url("../../images/location/location-t@1x.webp") 1x type("image/webp"),
        url("../../images/location/location-t@2x.webp") 2x type("image/webp"),
        url("../../images/location/location-t@1x.jpg") 1x type("image/jpeg"),
        url("../../images/location/location-t@2x.jpg") 2x type("image/jpeg")
      );
  }

  @media (min-width: $desktop) {
    background-image:
      image-set(
        url("../../images/location/location-d@1x.webp") 1x type("image/webp"),
        url("../../images/location/location-d@2x.webp") 2x type("image/webp"),
        url("../../images/location/location-d@1x.jpg") 1x type("image/jpeg"),
        url("../../images/location/location-d@2x.jpg") 2x type("image/jpeg")
      );
  }
}
