.page__body--index {
  @media (min-width: $desktop) {
    &::before {
      content: "";
      width: 50%;
      height: 600px;
      position: absolute;
      right: 0;
      top: 0;
      background-color: #4b4a4f;
    }

    &::after {
      content: "";
      width: 50%;
      height: 600px;
      position: absolute;
      right: 0;
      top: 0;
      background-color: $basic-theme;
      opacity: 0.85;
    }
  }
}
