.social {
  margin: 0 0 21px 20px;
  padding: 0;
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  min-height: 62px;
  gap: 24px;
  place-content: center center;
  width: calc(100% - 40px);
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    margin: 0 0 0 56px;
    padding: 0;
    border-bottom: none;
    width: unset;
  }

  @media (min-width: $desktop) {
    margin: 0 0 0 38px;
  }
}

.social__link {
  color: #666666;

  &:hover {
    color: $basic-theme;
  }

  &:active {
    color: $basic-theme;
    opacity: 0.3;
  }
}
